body, html {
    height: 100%;
    margin: 0;
    font-family: Helvetica;

}

body{
    height: 100%;
    margin: 0;

}

.bg {
    /* The image used */
    background-image: url("../img/background.jpg");


    /* Full height */
    height: 92%;



    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

div blur {
    overflow: hidden;
}


*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}


header{
  
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(67,101,226);
  width:100%


}
.content{position: relative;}
.content img{ position: absolute;
    top: 0px;
    left:0px;
    height:60px;
    width:210px;
    
}

ul li img{
    width:20%;
    float: left;
    align: left;
}
ul li{
    list-style-type: none;
}

footer{
    text-align: center;
    font-family: sans-serif;
}
form{
    background-color: white;
    padding:150px;
    opacity: 0.75;
}
input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(67,101,226);
}
label{
    padding:20px;
}
.login {
    float: left;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.submit{

    float: right;
    background-color: rgb(67,101,226);
    border: none;
    color:white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}


.sidebar{
    bottom:100px;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    position: relative;

}
.sidebar h2{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;


}

.sidebar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: fixed;

}

.sidebar a:hover{
    color: #f1f1f1;
}

.signout {

    color: white !important;

}

.signout a:hover {

}

.content{
    width: 80%;
    float: left;
}
